body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.flexible-container {
  display: flex;

  margin-bottom: 10%;
}

.half-width-div {
  width: 50%;
  padding-left: 5%;
}

.span-h1-color {
  color: orange;
}

.heading-color {
  color: rgba(102, 102, 102, 0.959);
}
.half-width-div img {
  width: 100%;
}

/* ######################### */

.about-me-section {
  background-image: url(images/shapes/second-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

.my-recipies-section {
}

.recipies-div {
  text-align: center;
}

.recipies-div p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* work for image of "recipies-title-div" class */
.recipies-title-div img {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.recipies-title-div {
  /* border: 7px solid gray; */
  box-shadow: 0px 0px 20px 1px rgb(223, 221, 221);
  margin: 2%;
  border-radius: 25px;
}

.recipies-text {
  margin-left: 5%;
  margin-right: 5%;
}

.flexible-container-3rd-section {
  display: flex;

  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
}

.anchor-size {
  color: white;
  background-image: repeating-linear-gradient(orange, rgba(255, 0, 0, 0.589));
  margin: 10px 40px;
  text-decoration: none;
  font-weight: 700;
  padding: 17px 35px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(223, 93, 17, 0.733);
}

.half-width-div-about-me {
  margin-top: 8%;
}

.anchor-div {
  margin-top: 22%;
  margin-left: -10%;
  padding-bottom: 10%;
}

#hudai {
  margin-top: 24%;
}

.recipie-title-bold {
}

.skip-the-diet {
  padding-top: 8%;
}

.anchor-div-contact-me {
  margin-top: 10%;
  margin-left: -7%;
  padding-bottom: 10%;
}
